.container {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.inner {
  margin: 6px 0;
}
.img {
  & img {
    width: 100px;
    float: left;
    margin: 4px 4px 4px 0;
  }
}
.content {
  font-size: 16px;
  font-weight: 400;
}
